body {
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  min-height: 100vh;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  background: white;
  border-radius: 10px;
  height: auto;
  h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    font-weight: 700;
  }
  form {
    padding: 0 40px;
    box-sizing: border-box;
    .field {
      position: relative;
      border-bottom: 2px solid #adadad;
      margin: 30px 0;
      input, textarea {
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: 16px;
        border: none;
        background: none;
        outline: none;
      }
      label {
        position: absolute;
        top: 50%;
        left: 5px;
        color: #adadad;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
      }
      input:focus ~ label,
      input:valid ~ label {
        top: -5px;
      }
      span::before {
        content: "";
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #2691b9;
      }
    }
    select {
      padding: 5px 168px;
      margin: 15px 0;
      font-weight: 500;
      border: 1px solid silver;
    }
    button {
      margin-top: 30px;
      width: 100%;
      height: 50px;
      border: 1px solid;
      background: #2691b9;
      border-radius: 25px;
      font-size: 18px;
      font-weight: 700;
      color: white;
      cursor: pointer;
      outline: none;
    }
    button:hover {
      border-color: #2691b9;
      transition: 0.5s;
    }
  }
}
.diss{
  label{
    font-size: 15px;
    color: #adadad;
    margin-bottom: 10px;
  }
  textarea{
    margin: 10px 0;
  }
}
.colors {
  color: #0c19d6;
}
.colors:hover {
  cursor: pointer;
  text-decoration: underline;
}
